<%- include('../partials/header') %>

<form id="add-ticket-form" method="POST"
  <action="">
  <label>Flight:</label>
  <%= flight.flightNo %>
  <br><label>Seat([A-F][1-9][0-9]):</label>
  <input type="text" value="Seat" name="seat" required pattern="[A-F][1-9]\d">
  <br><label>Price:</label>
  <input type="text" value="Price(USD)" name="price">
</form>